<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
             http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd"
             default-lazy-init="true">

    <authentication-manager alias="authenticationManager">
    </authentication-manager>

    <http auto-config="true">
        <intercept-url pattern="/images/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/styles/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/scripts/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>

        <intercept-url pattern="/WEB-INF/pages" access="ROLE_ANONYMOUS,ROLE_ADMIN,ROLE_USER"/>

        <form-login login-page="/login" authentication-failure-url="/login?error=true" login-processing-url="/j_security_check"/>
    </http>
</beans:beans>
