<component name="ArtifactManager">
  <artifact type="exploded-war" name="web">
    <output-path>$PROJECT_DIR$/out/artifacts/web.war</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="web" />
          <element id="module-output" name="core" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="test" />
          <element id="library" level="project" name="main" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="web/web/Web" />
    </root>
  </artifact>
</component>